{% extends "layout.html" %}

{% block title %}
    View Channel
{% endblock %}

{% block main %}

    <h1 id="channel_name">{{ channel_name }}</h1>

    <form onsubmit="return false;" class="form-group">
        <textarea id="textarea" name="content" class="form-control" rows="8" placeholder="Message" required></textarea>

        <div class="buttonHolder">
            <button id="send_message" class="btn btn-info">Send</button>
        </div>
    </form>

    <div class="list-group">

        {% for message in channel_messages %}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ message['display_name'] }} ({{ message['datetime'] }})</h5>
          </div>
          <p class="mb-1">{{ message['content'] }}</p>
        </a>
        {% endfor %}
        
    </div>

    

    <script src="/static/channel.js"></script>
{% endblock %}
