<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">    
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-mtS696VnV9qeIoC8w/PrPoRzJ5gwydRVn0oQ9b+RJOPxE1Z1jXuuJcyeNxvNZhdx" crossorigin="anonymous">
        <link href="#" rel="shortcut icon" >
        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="/static/index.js"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>

    
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Flack</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Channels</a>
                  
                  {% if channels != [] %}
                  <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
                    {% for channel in channels %}
                    <a class="dropdown-item" href="{{ url_for('view_channel', channel_name=channel) }}">{{ channel }}</a>
                    {% endfor %}
                  </div>
                  {% endif %}

                </li>

                <li class="nav-item active">
                    <button class="btn btn-lg" id="createChannel">
                        <span class="glyphicon glyphicon-plus-sign"></span> Create Channel
                    </button>                    
                </li>
            </ul>                

            <a href="#" class="badge badge-success">
              <span class="glyphicon glyphicon-user"></span> 
              <span id="displayName" class="badge badge-pill badge-success">User</span>
            </a>
          
          </div>
        </nav>        
        

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

        <footer class="small text-center text-muted">Allard 2019</footer>
    </body>

    
</html>